@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    user-select: none;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 125px;
 padding: 10px 0px;
 display:  flex;
 justify-content: space-between;
 align-items: center;
 background-color: #0c5ca8;
 position:relative;

}
header .logo{
width: 200px;
height: 100px;
border:none;


}
header .logo img{
    width: 100%;
    height: 100%;
}

header ul{
    display: flex;
    float: right;
    

}
header ul li{
     margin: -50px 20px;
  

     
}

header ul li a{
    color:white;
    font-size: 16px;
    text-transform:uppercase;
    font-weight: bold;

     
}
li a:hover{
  
    color:whitesmoke;
    text-decoration: none;
     
    }

.slider{
   width: 100%; 
   height: 400px;
   border:none;
  
}

.card-heading h1{
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
font-weight:bolder;
line-height: 9.5rem;
    text-align: center;
}
.main{
    width: 100%;
    height: 760px;
    border:none;
background-color:#F0F0F0;
}
.card{
    margin: 25px;
    display:flex;
    float: left;
    transition: 0.5s;
}
.card:hover{
    box-shadow: 0 5px 10px #0c5ca8;
    transform: translateY(-20px);
    
}
.card img{ 
    height: 250px;

}

.card-body p{
    font-size: 12px;
    font-weight:bold;
    padding: 20px 0px;
}
.card-body h2{
    font-size: 26px; 
    font-weight: bold;

}
.line{
    font-size: 140px;    
   margin-top: -120px;
    color: #0c5ca8;
}

.card-body button{
    font-size: 25px;
    text-align: center;
    background-color: wh;
    color: #0c5ca8;
    padding: 0px 60px;
    border: 1px solid #0c5ca8;
    border-radius: 40px;
     margin-top: 60px;
     background-color: white;
}


.owl-content{
    width: 100%;
    height:500px;
    border:none;
    background-color:#F0F0F0;
    margin-top: 30px;

}
.owl-content h1{
    font-size: 50px;
 font-family:Arial, Helvetica, sans-serif;
font-weight:bolder;
line-height: 9.5rem;
    text-align: center;   
}
.owl-content h4{
font-size: 22px;
text-align: center;
padding: 2px 5px;
}
.about-contant{
width: 100%;
height: 900px;
border: none;
background-color:#F0F0F0 ; 
margin-top: 60px;
}
.about-contant h2{
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
font-weight:bolder;
line-height: 9.5rem;
    text-align: center;
    margin-top: 50px;
}
.about-contant p{
    font-size: 12px;
    font-weight:bold;
margin-bottom: 50px;
    text-align:center;
}
.about-contant .about-img{
    width: 600px;
    height: 500px;
    border: transparent;
    margin-left: 20px;
    display: flex;
    float: left;

  
}
.about-contant .about-img :hover{
    box-shadow: 0 5px 30px #0c5ca8;
}
.about-contant .about-img img{
    width: 100%;
    height: 100%;

 
}
.about-contant .contact-img{
    width: 640px;
    height: 500px;
    border:transparent;
   display: flex;
   float: right;
   margin-top: 60px;
  
}
.about-contant .contact-img :hover{
    box-shadow: 0 5px 30px #0c5ca8;
   
}

.about-contant .contact-img img{
    width: 100%;
    height: 100%;

}
.honor-content h2{
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
font-weight:bolder;
line-height: 9.5rem;
    text-align: center;
    margin-top: 50px;

}

.honor-content p{
    font-size: 12px;
    font-weight:bold;
margin-bottom: 50px;
    text-align:center;

}
.honor-img{
    width: 100%;
    height: 550px;
    border:none ;
}
.honor-img img{
    width: 100%;
    height: 100%;
}




footer
{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    flex-wrap: wrap;
    background-color:#0c5ca8;
}
footer .content
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .content .sect
{
    margin-right: 30px;
}
footer .content .aboutus
{
    width: 40%;
}
footer .content h2
{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .content h2::before
{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
  
}
footer .content .aboutus p
{
    color:#b6bfb9;
    font-weight: 200;
    margin-bottom: 15px;
}
footer .content .aboutus ul
{
    display: flex;
}
footer .content .aboutus ul li
{
    list-style: none;
    margin-right: 20px;
}
footer .content .aboutus ul li a
{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color:#0c5ca8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
footer .content .aboutus ul li a .fa
{
    color: #fff;
    font-size: 20px;
}
footer .content .quicklinks
{
    position: relative;
    width: 25%;
    padding: 0px 20px;
}
footer .content .quicklinks ul li
{
    list-style: none;
}
footer .content .quicklinks ul li a 
{
    color:#b6bfb9;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
}

footer .content .contactus
{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
footer .content .contactus ul
{
    position: relative;
}
footer .content .contactus ul li
{
    display: flex;
    margin-bottom: 20px;
    list-style: none;
}
footer .content .contactus ul li span
{
    color:#b6bfb9;
}
footer .content .contactus ul li span:nth-child(1)
{
    color: #b6bfb9;
    font-size: 20px;
    margin-right: 10px;
}
footer .content .contactus ul li a
{
    color:#b6bfb9;
    text-decoration: none;
    letter-spacing: 2px;
}
footer .content .contactus ul li a:hover
{
    color: #fff;
}
.copyright
{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#0c5ca8;
    padding: 5px 10px;
}
.copyright p
{
    font-size: 20px;
    letter-spacing: 1px;
    color: #999;
}
.copyright p a
{
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

@media (max-width: 1000px)
{
    footer
    {
        padding: 40px;
    }
    footer .content
    {
        flex-direction: column;
    }
    footer .content .sect 
    {
        margin-right: 30px;
        margin-bottom: 20px;
    }
    footer .content .aboutus 
    {
        width: 100%;
    }
    footer .content .quicklinks 
    {
        width: 100%;
        padding: 0;
    }
    footer .content .contactus 
    {
        width: 100%;
    }
    .copyright
    {
        padding: 0;
    }
    .copyright p
    {
        font-size: 14px;
    }
    .copyright p a
    {
        font-size: 12px;
    }
    
}